/* Bootstrap Variables */
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$grid-gutter-width: 10px;
$container-large-desktop: (1014px + $grid-gutter-width);
/* Import Bootstrap */
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

html {
  width: 1999px;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../images/bg.jpg);
  position: relative;
}

/*body::after {
  background-color: rgba(147, 147, 147, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

}*/

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/*header {
  background: url("http://unsplash.it/1024/337") center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 337px;
  border: 2px solid white;
}*/

/*.social-media {
  margin-top: 6px;
  margin-bottom: 16px;
}*/

.subscribe {
  float: right;
  line-height: 70px;
}

.subscribe a {
  color: white;
  text-decoration: none;
}

.social-media-links {
  float: right;
  margin-bottom: 16px;
  margin-top: 6px;
}

.social-media-links i {
  color: rgba(255, 255, 255, 0.3);
  line-height: 64px;
  font-size: 42px;
  text-align: center;
}

.social-media-links a {
  display: inline-block;
  text-align: center;
  float: left;
  margin-left: 9px;
}

#facebook {
  background-color: #42529b;
  width: 60px;
  height: 64px;
  border-bottom: 4px solid rgba(147, 147, 147, 0.6);
}

#rss {
  background-color: #d68f0b;
  width: 60px;
  height: 64px;
  border-bottom: 4px solid rgba(147, 147, 147, 0.6);
}

#twitter {
  background-color: #638acb;
  width: 60px;
  height: 64px;
  border-bottom: 4px solid rgba(147, 147, 147, 0.6);
}

#youtube {
  background-color: #c21d1e;
  width: 60px;
  height: 64px;
  border-bottom: 4px solid rgba(147, 147, 147, 0.6);
}

.nav a {
  display: inline-block;
  background-color: #c30021;
  border-bottom: 4px solid rgba(147, 147, 147, 0.6);
  height: 44px;
  text-align: center;
  color: white;
  font-size: 13px;
  line-height: 44px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 17px;
}

.header-background {
  height: 337px;
  border-bottom: 4px solid rgba(147, 147, 147, 0.6);
  margin: 0 auto;
  position: relative;
  background-image: url(../images/top-image.png);
  background-position: center;
  background-size: cover;
  margin-bottom: 65px;
  border-radius: 0px;
}

/*.jumbotron::after {
  border-bottom: 4px solid rgba(147, 147, 147, 0.6);
  margin: 0 auto;
  background-image: url(../images/peralta-logo.png);
}*/

/*.jumbotron img {
  height: 100%;
  overflow: hidden;
  border: 10px solid white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
}*/




.article-box {
  // width: 334px;
  height: 354px;
  background-color: white;
  border-bottom: 4px solid rgba(147, 147, 147, 0.6);
  padding: 30px 30px 23px 29px;
  display: inline-block;
  margin-bottom: 37px;
}

.article-box h1 {
  color: black;
  font-size: 23.2px;
  margin-top: 0;
  margin-bottom: 16px;
}

.article-box p {
  font-size: 12px;
  line-height: 24px;
}

.date {
  color: #989898;
  margin-bottom: 12px;
}

.article-box a {
  color: #bf0008;
  font-weight: bold;
  position: relative;
  left: 78px;
}

.offset-skateboarders {
  background-color: #b4292e;
  border-bottom: 4px solid rgba(147, 147, 147, 0.6);
  height: 100px;
  width: 236px;
  position: absolute;
  z-index: 1;
  left: 220px;
}

.offset-skateboarders a {
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 100px;
  font-size: 18px;
  font-weight: bold;
  padding-left: 38px;
}

.skateboarders {
  //width: 324px;
  //height: 221px;
  display: inline-block;
}

.skateboarder-box {
  height: 236px;
  border-bottom: 4px solid rgba(147, 147, 147, 0.6);  margin: 0 auto;
  position: relative;
  background-image: url(../images/sk8er-4.png);
  background-position: center;
  background-size: cover;
  border: 5px solid white;
  margin-bottom: 6px;
  box-shadow: 0 4px rgba(147, 147, 147, 0.6);
}

.skateboarder-rodney-box {
  height: 236px;
  border-bottom: 4px solid rgba(147, 147, 147, 0.6);
  margin: 0 auto;
  position: relative;
  background-image: url(../images/sk8er-3.png);
  background-position: center;
  background-size: cover;
  border: 5px solid white;
  margin-bottom: 6px;
  box-shadow: 0 4px rgba(147, 147, 147, 0.6);
}

.skateboarder-tommy-box {
  height: 478px;
  border-bottom: 4px solid rgba(147, 147, 147, 0.6);
  margin: 0 auto;
  position: relative;
  background-image: url(../images/sk8er-2.png);
  background-position: 430px center;
  background-size: cover;
  border: 5px solid white;
  margin-bottom: 6px;
  box-shadow: 0 4px rgba(147, 147, 147, 0.6);
}

.skateboarder-steve-box {
  height: 236px;
  border-bottom: 4px solid rgba(147, 147, 147, 0.6);
  margin: 0 auto;
  position: relative;
  background-image: url(../images/sk8er-1.png);
  background-position: center;
  background-size: cover;
  border: 5px solid white;
  margin-bottom: 6px;
  box-shadow: 0 4px rgba(147, 147, 147, 0.6);
}

.skateboarder-box a {
  display: inline-block;
  font-size: 42px;
  color: white;
  text-align: center;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 58px;
  line-height: 51px;
  font-weight: bold;
}

.skateboarder-rodney-box a {
  display: inline-block;
  font-size: 42px;
  color: white;
  text-align: center;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 58px;
  line-height: 51px;
  font-weight: bold;
}

.skateboarder-steve-box a {
  display: inline-block;
  font-size: 42px;
  color: white;
  text-align: center;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 84px;
  line-height: 51px;
  font-weight: bold;
  padding-left: 111px;
}

.skateboarder-tommy-box a {
  display: inline-block;
  font-size: 42px;
  color: white;
  text-align: center;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 177px;
  line-height: 51px;
  font-weight: bold;
  padding-left: 7px;
}


/*.skateboarders img {
  max-width: 100%;
  max-height: 100%;
}*/


.designs {
  height: 299px;
  border-bottom: 4px solid rgba(147, 147, 147, 0.6);
  position: relative;
  background-image: url(http://d2cjjbw87j6ehp.cloudfront.net/cart/image/data/whatever-shortboards-category-image.png);
  background-position: center;
  background-size: cover;
  margin-top: 27px;
  margin-bottom: 65px;
  border-radius: 0px;
}

.designs a {

}

.contact-us {
  height: 365px;
  background-color: white;
  border-bottom: 4px solid rgba(147, 147, 147, 0.6);
  margin-bottom: 92px;
}

.contact-info {
  margin: 0 0 92px;
  padding: 30px;
}

.contact-info h1 {
  font-weight: normal;
  font-size: 24px;
}

.contact-info p {
  font-size: 15px;
  line-height: 24px;
}

.contact-links i {
  color: rgba(255, 255, 255, 0.3);
  line-height: 30px;
  font-size: 18px;
  text-align: center;
}

.contact-links a {
  display: inline-block;
  text-align: center;
  margin-left: 4px;
}

#c-facebook {
  background-color: #4f4f4f;
  width: 30px;
  height: 30px;
  border-right: 1px solid rgba(147, 147, 147, 0.6);
  border-left: 1px solid rgba(147, 147, 147, 0.6);
}

#c-rss {
  background-color: #afafaf;
  width: 30px;
  height: 30px;
  border-right: 1px solid rgba(147, 147, 147, 0.6);
  border-left: 1px solid rgba(147, 147, 147, 0.6);
}

#c-twitter {
  background-color: #7b7b7b;
  width: 30px;
  height: 30px;
  border-right: 1px solid rgba(147, 147, 147, 0.6);
  border-left: 1px solid rgba(147, 147, 147, 0.6);
}

#c-youtube {
  background-color: #757575;
  width: 30px;
  height: 30px;
  border-right: 1px solid rgba(147, 147, 147, 0.6);
  border-left: 1px solid rgba(147, 147, 147, 0.6);
}

.form {
  margin: 0 auto;
  margin-bottom: 92px;
  position: relative;
  display: inline-block;
  padding: 30px;
}
