body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(https://kpattou.files.wordpress.com/2015/08/skateboard-skatepark-4.jpg?w=620&h=620);
}

img {
  max-width: 100%;
}

.social-media {

}

.nav {

}

.nav ul {

}

.nav ul li {

}

.jumbotron {

}

.jumbotron img {

}

.jumbotron a {

}

.articles {

}

.article-box {

}

.article-box h1 {

}

.article-box p {

}

.article-box a {

}

.skateboarders {
  width: 324px;
  height: 221px;
  display: inline-block;
}

.skateboarders img {
  max-width: 100%;
  max-height: 100%;
}

.skateboarders a {

}

.skateboard-designs {

}

.skateboard-designs a {

}

.contact {

}

.contact h1 {

}

.contact p {

}

.contact a {

}

.form {

}

.form h2 {

}

.button {

}

.button h2 {

}

.button a {

}
