body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(https://kpattou.files.wordpress.com/2015/08/skateboard-skatepark-4.jpg?w=620&h=620);
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.social-media {
  margin-top: 6px;
  margin-bottom: 20px;
}

.social-media img {
  width: 60px;
  height: 60px;
  border-bottom: 4px solid rgba(147, 147, 147, 0.6);
}

.nav {
  display: inline-block;
  margin-bottom: 21px;

}

.nav ul {
  width: 1024px;
}

.nav ul li {
  display: inline-block;
  margin-left: 11px;
  list-style: none;
  background-color: #c30021;
  border-bottom: 4px solid rgba(147, 147, 147, 0.6);
  height: 44px;
  width: 248px;
  color: white;
  text-align: center;
  font-size: 13px;
  line-height: 44px;
  margin: 0 auto;
}

.jumbotron {

}

.jumbotron img {

}

.jumbotron a {

}

.articles {

}

.article-box {

}

.article-box h1 {

}

.article-box p {

}

.article-box a {

}

.skateboarders {
  width: 324px;
  height: 221px;
  display: inline-block;
}

.skateboarders img {
  max-width: 100%;
  max-height: 100%;
}

.skateboarders a {

}

.skateboard-designs {

}

.skateboard-designs a {

}

.contact {

}

.contact h1 {

}

.contact p {

}

.contact a {

}

.form {

}

.form h2 {

}

.button {

}

.button h2 {

}

.button a {

}
